<h1>Delayed Job Example</h1>

<p>Run <code>rails runner "LogJob.perform_later"</code> in the Rails console on the server.</p>
<p>The output will be stored in <code>log/delayed_job.log</code> and will be the timestamp the job was run.</p>
<p>Run <code>cat log/delayed_job.log</code> to see the logs.</p>
